//Background colors
$bg-dark-color: #212121;
$bg-light-color: #e9e8ed;
$bg-white-color: white;

//text colors
$dark-text-color: #212121;
$light-text-color: #e9e8ed;
//font families

$accent-light-color: #d63a45;
$accent-dark-color: #11858f;
$primary-font: 'Spartan', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}


/*Common CSS*/
.no-display{
    display: none;
}
.display-flex{
    display: flex;
}
.display-block{
    display: block;
}
.display-inherit{
    display: inherit;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-inherit{
    justify-content: inherit;
}
.justify-spacebetween{
    justify-content: space-between;
}
.transition-5{
    transition: .5s ease-in-out;
}
.transition-inherit{
    transition: inherit;
}
.transparent-background{
    background-color: transparent;
}
.no-border{
    border: none;
}
.text-dark{
    color: $dark-text-color;
}
.no-decoration{
    text-decoration: none;
}
.background-light-color{
    background-color: $bg-light-color;
}
.width-80vw{
    width: 80vw;
}
.max-width-1300{
    max-width: 1300px;
}
.width-100vw{
    width:100vw;
}
.width-90vw{
    width:90vw;
}
.width-50vw{
    width:50vw;
}
.height-50vh{
    height: 50vh;
}
.height-45px{
    height: 45px;
}
.text-header{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-large{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-extra-small{
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-small{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-normal{
    font-size: 1rem;
    line-height: 1.5rem;
}
.padding-bottom-12{
    padding-bottom: 12px;
}
.upbar{
    padding: 0 10px;
    &:hover{
        color: $accent-light-color;
    }
}
.flex-column{
    flex-direction: column;
}



html{
    font-family: $primary-font;
    color: $dark-text-color;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

header{
    height: 0;
}

.nav-container{
    position: fixed;
    bottom: 0;
    height: 72px;
}
.navbar{
    padding: 0px 16px;
    &-left{
        width: 15vw;
        padding-left: 16px;
    }
    
    &-right{
        justify-content: flex-end;
    }
}
.sm-menu-content{
    position: absolute;
    bottom: 80px;
    max-height: 0;
    overflow: hidden;    
}
.small-hover {
    padding: 20px 0px;
    text-align: center;
    &:focus{
        background-color: $accent-light-color;
    }
    &:hover{
        background-color: $accent-light-color;
        color: $light-text-color;
    }
}
.darkMode-toggler{ 
    &::before{
        content: 'Dark mode On';
    }
}
.button-toggler{   
    width: 43px;
    height: 21px;
    border-radius: 21px;
    border: 2px solid;
    &:hover{
        color: $accent-light-color;
    }
}

.button-toggler-span-a{
    width: 12px;
    height: 12px;
    margin-left:1px ;
    border-radius: 12px;
    background-color: $bg-dark-color;
}
.tooltip{
    position: relative;
}
.tooltip .tooltip-text{
    visibility: hidden;
    text-align: center;
    padding: 5px ;
    border-radius: 6px;
    border: 1px solid ;
    background-color: $bg-dark-color;
    color: $light-text-color;

    position: absolute;
    top: 125%;
    left: 50%;
    margin-left: -30px;

    opacity: 0;
    transition: opacity .5s; 
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

main{
    height: 200vh;    
}

.scrolled{
    background-color: $bg-dark-color ;
    color: $light-text-color;
    .hiperlink, .button-toggler, .sm-menu-icon{
        color: $light-text-color;
    }
    .hiperlink:hover, .button-toggler:hover{
        color: $accent-light-color;
    } 
    .button-toggler-span-a{
        background-color: $bg-light-color;
    }
    .small-hover {
        color: $dark-text-color;
        &:hover{
            color: $light-text-color;
        }
    }
}


.dark{
    background-color: $bg-dark-color;
    color:$light-text-color;
    .hiperlink, .button-toggler{
        color: $light-text-color ;
        &:hover{
            color: $accent-dark-color ;
        }   
    }
    .small-hover {
        &:focus{
            background-color: $accent-dark-color;
        }
        &:hover{
            background-color: $accent-dark-color;
            color: $light-text-color;
        }
    }

    .button-toggler-span-a{
        margin-left:23px;
        background-color: $bg-light-color ;
    }
    .darkMode-toggler:before{
        content: 'Dark mode Off';
    }
    .sm-menu-icon{
        color: $light-text-color;
    }
}


.dark .scrolled{
    background-color: $light-text-color;
    color: $dark-text-color;
    .upbar, .sm-menu-icon{
        color: $dark-text-color;
    }
    .upbar:hover{
        color: $accent-dark-color;
    }
    .button-toggler{
        color: $dark-text-color;
        &:hover{
            color: $accent-dark-color;
        }
    }
    .button-toggler-span-a{
        background-color: $dark-text-color;
    }
}


@media screen and(min-width: 768px) {
    header {
        height: 80px;
    }
    .nav-container{
        transform: translateY(calc(-100vh + 72px)); 
    }
    .menu-items{
        display: flex;
        margin-right: 10px;
        button{
            margin: 0 10px;
        }
    }
    .sm-menu{
        display: none;
    }  
}