header {
  padding: 20px;
}

button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: #6bdf9f;
  border: none;
}
button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

/* Dark mode styles*/
.dark {
  background-color: #2a2a41;
}
.dark button {
  background-color: red;
}
.dark button a {
  color: whitesmoke;
  font-weight: 600;
  font-style: italic;
}