* {
  margin: 0;
  padding: 0;
}

/*Common CSS*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}

header {
  height: 64px;
  padding: 20px;
}
header .navbar {
  width: 80vw;
  height: 60px;
  max-width: 1300px;
  position: fixed;
  top: 5px;
  background-color: #cfbed8;
  border-radius: 12px;
}
header .navbar-left {
  padding-left: 16px;
}
header .navbar-right {
  padding-right: 16px;
}

.scrolled {
  background-color: red !important;
}

main {
  background-color: #12b5bb;
  height: 150vh;
}

button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: #D74A76;
  border: none;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
}

/* Dark mode styles*/
.dark {
  background-color: #36454F;
}
.dark button {
  background-color: #E6E6FA;
  color: black;
  font-weight: 600;
  font-style: italic;
}
.dark .scrolled {
  background-color: aqua !important;
}
.dark main {
  background-color: #131822;
}