* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/*Common CSS*/
.no-display {
  display: none;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-inherit {
  display: inherit;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-inherit {
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.justify-spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transition-5 {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.transition-inherit {
  -webkit-transition: inherit;
  transition: inherit;
}

.transparent-background {
  background-color: transparent;
}

.no-border {
  border: none;
}

.text-dark {
  color: #212121;
}

.no-decoration {
  text-decoration: none;
}

.background-light-color {
  background-color: #e9e8ed;
}

.width-100vw {
  width: 100vw;
}

html {
  font-family: "Spartan", sans-serif;
  color: #212121;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .hls a {
  font-size: 1rem;
}
header .hls a:hover {
  color: #d63a45;
}
header .nav-container {
  position: fixed;
  bottom: 0;
  height: 72px;
}
header .nav-container .navbar {
  max-width: 1300px;
  padding: 0px 16px;
}
header .nav-container .navbar-left {
  width: 15vw;
  padding-left: 16px;
}
header .nav-container .navbar .sm-menu i {
  font-size: 3rem;
}
header .nav-container .navbar-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
}
header .sm-menu-content {
  position: absolute;
  bottom: 80px;
  max-height: 0;
  overflow: hidden;
}
header .sm-menu-content button {
  height: 45px;
}
header .sm-menu-content button:focus {
  background-color: #d63a45;
}
header .darkMode-toggler {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .darkMode-toggler::before {
  content: "Dark mode On";
}
header .darkMode-toggler button {
  width: 43px;
  height: 21px;
  border-radius: 21px;
  border: 3px solid;
}
header .darkMode-toggler button .toggler-span-a {
  width: 12px;
  height: 12px;
  margin-left: 1px;
  border-radius: 12px;
  background-color: #212121;
}
header .darkMode-toggler button:hover {
  color: #d63a45;
}
header .darkMode-toggler button:hover .toggler-span-a {
  background-color: #d63a45;
}

main {
  height: 200vh;
}

.scrolled {
  background-color: #212121;
}
.scrolled .navbar {
  color: #e9e8ed;
}
.scrolled .navbar a {
  color: #e9e8ed;
}
.scrolled .navbar a:hover {
  color: #d63a45;
}
.scrolled .collapse i {
  color: #e9e8ed;
}
.scrolled .darkMode-toggler button {
  color: #e9e8ed;
}
.scrolled .darkMode-toggler button .toggler-span-a {
  background-color: #e9e8ed;
}
.scrolled .sm-menu-content a {
  color: #212121;
}

.dark {
  background-color: #212121;
  color: #e9e8ed;
}
.dark .hls a {
  color: #e9e8ed;
}
.dark .hls a:hover {
  color: #11858f;
}
.dark .darkMode-toggler::before {
  content: "Dark mode Off";
}
.dark .darkMode-toggler button {
  color: inherit;
}
.dark .darkMode-toggler button .toggler-span-a {
  margin-left: 23px;
  background-color: #e9e8ed;
}
.dark .darkMode-toggler button:hover {
  color: #11858f;
}
.dark .darkMode-toggler button:hover .toggler-span-a {
  background-color: #11858f;
}
.dark .sm-menu-content button:focus {
  background-color: #11858f;
}
.dark .collapse {
  color: inherit;
}
.dark .scrolled {
  background-color: #e9e8ed;
}
.dark .scrolled .hls a:hover, .dark .scrolled .sm-menu-content:hover {
  color: #11858f;
}
.dark .scrolled .navbar, .dark .scrolled .collapse i, .dark .scrolled .hls a {
  color: #212121;
}
.dark .scrolled .sm-menu-content a {
  color: #e9e8ed;
}
.dark .scrolled .darkMode-toggler:nth-child(n) {
  color: #212121;
}
.dark .scrolled .darkMode-toggler:nth-child(n) button .toggler-span-a {
  background-color: #212121;
}
.dark .scrolled .darkMode-toggler:nth-child(n) button:hover {
  color: #11858f;
}
.dark .scrolled .darkMode-toggler:nth-child(n) button:hover .toggler-span-a {
  background-color: #11858f;
}

@media screen and (min-width: 768px) {
  header .nav-container {
    -webkit-transform: translateY(calc(-100vh + 72px));
            transform: translateY(calc(-100vh + 72px));
  }
  header .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  header .menu-items button {
    margin: 0 10px;
  }
  header .sm-menu {
    display: none;
  }
}