//Background colors
$button-light-color: #D74A76;
$button-dark-color: #E6E6FA;
$bg-color: #36454F;

//text colors
$light-text-color: black;
$dark-text-color: white;
//font families
$primary-font: 'Spartan', sans-serif;

*{
    margin: 0;
    padding: 0;
}


/*Common CSS*/
.flex{
    display: flex;
}
.flex-items-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-spacebetween{
    justify-content: space-between;
}
.trans-5s{
    transition: .5s ease-in-out;
}
.trans-inherit{
    transition: inherit;
}
.scrolled{
    background-color: red !important; 
}

html{
    font-family: $primary-font;
    font-weight: 600;
    scroll-behavior: smooth;
    
}


header{
    height: 0px;

    .navbar{
        width: 100vw;
        height: 72px;
        position: fixed;
        bottom:0vh;
        background-color: rgb(207, 190, 216);
        
        &-left{
            padding-left: 16px;

        }
        
        &-right{
            padding-right: 16px;
            button{
                flex-direction: column;
            }
        } 
        .menu-button i{
            font-size: 3rem;
        }
    }
}


main{
    background-color: rgb(18, 181, 187);
    height: 150vh;
}

button{
    height: 48px;
    background-color: transparent;
    border:none;
    font-size: .8rem;
    color: $light-text-color;
    letter-spacing: 1px;
    .sp1{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
        width: 35px;
        height: 15px;
        border-radius: 20px;
        border: solid 4px;
        
        .sp2{
            background-color: $light-text-color;
            transition: .5s ease-in-out;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            margin: 0 0 0 2px;
            // box-shadow: 0 0 3px rgba(80, 80, 80, 0.692);
        }

    }
    
}
.switch:before{
    content: 'Dark mode On';
}

/* Dark mode styles*/
.dark{
    background-color: $bg-color;
    button{
        color: $dark-text-color;
        .sp1 .sp2{
                background-color: $dark-text-color;
                margin: 0 0 0 20px;
            }

    }
    .switch::before{
        content: 'Dark mode Off';
    }
    .scrolled{
        background-color: aqua !important;
    }
    main{
        background-color: rgb(19, 24, 34);
    }
}

@media screen and(min-width: 768px) {
    header {
        height: 40px;
        padding: 20px;
        .navbar{
                width: 80vw;  
                max-width: 1300px;
                border-radius: 12px;
                transform: translateY(calc(-100vh + 76px));
                &-right{
                    padding-right: 16px;
                    button{
                        flex-direction: row;
                    }
                }
        }
        main{
            top:0;
        }
    }
    .menu-button{
        display: none;
    }
}