//Background colors
$button-light-color: #D74A76;
$button-dark-color: #E6E6FA;
$bg-color: #36454F;

//text colors
$light-text-color: black;
$dark-text-color: white;
//font families
$primary-font: 'Spartan', sans-serif;

*{
    margin: 0;
    padding: 0;
}


/*Common CSS*/
.flex{
    display: flex;
}
.flex-items-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-spacebetween{
    justify-content: space-between;
}
.trans-5s{
    transition: .5s ease-in-out;
}
.trans-inherit{
    transition: inherit;
}
.scrolled{
    background-color: red !important; 
}

html{
    font-family: $primary-font;
    font-weight: 600;
    scroll-behavior: smooth;
    
}


header{
    height: 64px;
    padding: 20px;
    .navbar{
        width: 100vw;
        height: 60px;
        position: fixed;
        top:0;
        background-color: rgb(207, 190, 216);
        
        &-left{
            padding-left: 16px;

        }
        &-right{
            padding-right: 16px;
        } 
    }
}


main{
    background-color: rgb(18, 181, 187);
    height: 150vh;
    
}

button{
    height: 48px;
    background-color: transparent;
    border:none;
    font-size: .8rem;
    color: $dark-text-color;
    letter-spacing: 1px;
    i{
        font-size: 1.5rem;
        padding-left: 8px;
    }
    &::before{
        content: 'Dark mode On';
    }
}

/* Dark mode styles*/
.dark{
    background-color: $bg-color;
    button{
        color: $light-text-color;
        &::before{
            content: 'Dark mode Off';
        }

    }
    .scrolled{
        background-color: aqua !important;
    }
    main{
        background-color: rgb(19, 24, 34);
    }
}

@media screen and(min-width: 768px) {
    header .navbar{
            width: 80vw;  
            max-width: 1300px;
            border-radius: 12px;
            top:5px;
    }
}