doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="./css/styles.css")
        //- link(rel="stylesheet", href="./css/dark-styles.css")
        
        title Document
    body#dark
        header
            div.active
                button.switch(onClick="toggle_dark_mode()")
                    a(href="http:/" onClick="return false") Hello
        main.active
            

        script(src="./js/script.js") 