.about_me
    .about_me-container.flex.width-90vw.max-width-1300
       .info
            p.padding-bottom-12.text-header Hi! I'm cesar 
            p.padding-bottom-12.text-large Civil Engineer / FronEnd Dev
            p.padding-bottom-12.text-small I'm a Civil Engineer with knowlenge in Project Management , Mechanical Design and Metallic Structures. Currently I'm leading my path to a new way: Programming, Data Science and Front End. I write about my experience learning code and engineering in my blog.

