.footer-container.display-flex.justify-content-center.align-items-center 
    .bg-footer
    .content  
        .content-text  
            p Let's Talk
            //- p hola 
        .content-icons
            +social("Twitter","fa-twitter")
            +social("Github","fa-github")
            +social("LinkedIn","fa-linkedin")