.hero.width-100vw.display-flex.justify-content-center.align-items-center
    .hero-container.flex-column.display-inherit.justify-content-center.align-items-center.width-90vw.max-width-1300px
        .info-container 
            p.text-large.text-semibold I'm Cesar Cobos
            .typing-container 
                .typeText.text-header.text-bold.uppercase.padding-y-24#machine
            p Civil Engineer with more than 7 years' experience in Project Management, Structure Design, Mechanical Design. Knowledge in Data Science, FrondEnd DEv and UX/UI Design.
            .button-container.display-flex.justify-content-center.align-items-center.flex-column.padding-top-24
                +outlineButton("Let's Talk")
                +focusButton("Resume")
        .photo-container.display-flex.justify-content-center.align-items-center
            .line 
            //- .photo
            